.card {
  background-color: gray;
  padding: 6px;
  border: 1px solid white;
  margin-bottom: 8px;
  overflow-wrap: anywhere;
}

.linkbox {
  position: relative;
}

.linkbox a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.linkbox a:hover {
  opacity: 0.1;
  background-color: #000000;
}

.notification__repository {
  font-size: 12px;
  font-weight: bold;
}

.notification__title {
  font-size: 12px;
  width: 80%;
}

.notification__type {
  font-size: 12px;
}

.notification__icon {
  width: 20px;
  height: 20px;
}

.notification__icon img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.badge {
  display: inline-block;
  font-size: 12px;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
}

.badge--green {
  background-color: rgb(5, 85, 5);
}

.badge--red {
  background-color: rgb(158, 52, 52);
}

.badge--blue {
  background-color: rgb(52, 91, 150);
}

.badge--yellow {
  background-color: rgb(219, 164, 61);
}

.check-button {
  background-color: rgb(94, 94, 94);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 12px;
  cursor: pointer;
  z-index: 99;
}

.check-button:hover {
  background-color: rgb(160, 159, 159);
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.mb-4 {
  margin-bottom: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.center {
  text-align: center;
}
